@{
    ViewData["Title"] = "Home";
}
<div class="container mt-4">
    <h1 class="bg-danger">Clinic</h1>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/Booking">Booking</a>
    </div>
</div>