@{
    ViewData["Title"] = "Patient Search";
}
<div class="container mt-4">
    <h2>Patient Search by FileNo</h2>
    <div class="row">
        <div class="col-md-4"><input id="fileNo" class="form-control" placeholder="Enter FileNo" /></div>
        <div class="col-md-2"><button id="searchBtn" class="btn btn-primary">Search</button></div>
    </div>
    <div class="mt-3" id="patientResult"></div>
</div>
<script src="~/js/app.js"></script>